<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yuval.takecare">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.CAMERA" />

    <!--TODO: CHANGE REQUIRED TO FALSE AFTER IT WORKS!-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.yuval.takecare.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            tools:replace="android:value"
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".GatewayActivity">
        </activity>

        <activity
            android:name=".TakerMenuActivity"
            android:label="@string/title_activity_taker_menu"
            android:parentActivityName=".GatewayActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yuval.takecare.GatewayActivity" />
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SharedItemsActivity"
            android:label="@string/shared_items_menu_title">
        </activity>

        <activity
            android:name=".RequestedItemsActivity"
            android:label="@string/requested_items_menu_title">
        </activity>

        <activity
            android:name=".UserFavoritesActivity"
            android:label="@string/user_favorites_menu_title">
        </activity>

        <activity
            android:name=".SignUpActivity" >
        </activity>

        <activity
            android:name=".UserProfileActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/user_profile_menu_title">
        </activity>

        <activity
            android:name=".ItemInfoActivity"
            android:label="@string/item_info_title">
        </activity>

        <activity
            android:name=".GiverFormActivity"
            android:parentActivityName=".GatewayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yuval.takecare.GatewayActivity" />
        </activity>

    </application>

</manifest>